{% assign route="" %}
<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{{ '/' }}">Home</a>
  </li>
  {% if page.categories.size > 0 %}
    {% for category in page.categories %}
      {% assign category_slug = category | slugify | replace: '18f', '18F' %}
      {% assign route = route | append: '/' | append: category_slug %}
      <li class="breadcrumb-item">
        <a href="{{ route | absolute_url }}/">{{ category | replace: "-", " " }}</a>
      </li>
    {% endfor %}
  {% elsif page.collection %}
    {% assign route = route | append: '/' | append: page.collection %}
    <li class="breadcrumb-item">
      <a href="{{ route | absolute_url }}/">{{ page.collection | replace: "-", " " | capitalize }}</a>
    </li>
  {% endif %}

  <li class="breadcrumb-item active" aria-current="page">
    {{ page.title }}
  </li>
</ul>